.goal-setting {
    width: 100%;
    margin-left: 250px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }
  /* h1{
    margin-top: 100px
  } */
  
  .goal-setting-header {
    
    margin-bottom: 20px;
  }
  
  .goal-setting-title {
    margin-left: 330px;
    margin-top: 70px;
    font-size: 3rem;
    color: yellow;
  }
  
  .exercise-group {
    margin-bottom: 20px;
  }
  
  .exercise-group-title {
    color: #ffffff;
    font-size: 3rem;
  }
  
  .exercise-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .exercise-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .exercise-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #5e8ab6;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .exercise-option:hover {
    background-color: #3d88ce;
  }
  
  .exercise-name {
    flex: 2;
    text-align: left;
    font-size: 1.5rem;
  }
  
  .checkbox-time-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .checkbox-time-wrapper input[type="checkbox"] {
    margin-right: -350px;
  }
  
  .time-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
  
  .time-input label {
    color: #333;
  }
  
  input[type="number"] {
    padding: 5px;
    width: 80px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .your-goals-header {
    font-size: 2rem;
    color: yellow;
    margin-left: 330px;
    margin-top: 30px;
  }
  